{% extends 'base.html' %}
{% block title %}Currículo{% endblock %}
{% block content %}
<h1>Currículo</h1>
<p><strong>Nome:</strong> Lucas Santos Nascimento</p>
<p><strong>Email:</strong> lsproducoes19@gmail.com</p>
<p><strong>Telefone:</strong> (27) 98896-2286</p>
<p><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/lucas-s-905652219" target="_blank">Perfil</a></p>

<h2>Formação</h2>
<ul>
    <li>Engenharia de Software – Cruzeiro do Sul (2024–2027)</li>
    <li>Gestão Financeira – Faculdade Fael (2021–2023)</li>
</ul>

<h2>Experiência Profissional</h2>
<ul>
    <li>NIAD – Assistente de marketing no Boulevard Shopping Vila Velha (2025–Atual)</li>
    <li>ALLOS – Analista de Estacionamento no Shopping Vila Velha (2024–2025)</li>
    <li>ALLOS – Auxiliar de Performance Comercial no Shopping Vila Velha(2023–2024)</li>
    <li>ALLOS – Estagiário de auditoria no Boulevard Shopping Vila Velha (2022–2023)</li>
    <li>Litoral Têxtil – Menor aprendiz e auxiliar de amostra (Dez 2017–2021)</li>
</ul>

<h2>Habilidades Técnicas</h2>
<ul>
    <li>Excel Avançado</li> <link rel="stylesheet" href="">
    <li>Python (dados e web)</li>
    <li>Power BI intemediário</li>
    <li>SQL Básico</li>
</ul>
{% endblock %}
