{% extends 'base.html' %}
{% block title %}Início{% endblock %}
{% block content %}

<img src="https://media.licdn.com/dms/image/v2/D4D03AQGMBf_kuwtYxg/profile-displayphoto-shrink_200_200/B4DZR.wd1uHkAY-/0/1737293423713?e=1753315200&v=beta&t=NNGkSErhMBoRMWT1vrQfis7MaaQn6qrFkQryDIgx45g"

alt="Foto de perfil"> <p>




</p>
<body>
    
<h1>Bem-vindo ao meu portfólio!</h1>
<p>Olá, sou o Lucas Nascimento. <p>
</p>Tenho um perfil analítico, atento aos detalhes e sempre em busca de estar um passo à frente.
 Tenho facilidade para lidar com novas tecnologias, sou curioso e dedicado, e acredito que, com esforço, posso aprender qualquer coisa.
 Além das competências técnicas, destaco-me pela organização e comprometimento com os resultados. Busco sempre soluções sustentáveis e eficazes para a empresa..</p>
<p>Explore meu <a href="/curriculo">currículo</a> e <a href="/projetos">projetos</a>.</p>
{% endblock %}



<body>


